---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ template "backupdl.fullname" . }}
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
spec:
  schedule: {{ .Values.cronJob.schedule }}
  jobTemplate:
    spec:
      template:
        spec:
          securityContext:
            runAsNonRoot: true
          containers:
          - name: backupdl
            env:
            {{- range .Values.env }}
            - name: {{ .name }}
              value: {{ .value | quote }}
            {{- end }}
            image: ghcr.io/jim60105/backup-dl:latest
            imagePullPolicy: Always
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                - ALL
              runAsGroup: 1654
              runAsUser: 1654
              seccompProfile:
                type: RuntimeDefault
            volumeMounts:
            - mountPath: /app/cookies.txt
              name: cookies
              subPath: cookies.txt
          restartPolicy: Never
          volumes:
          - configMap:
              defaultMode: 420
              name: {{ template "backupdl.fullname" . }}-cookies
            name: cookies
